@model UserViewModel
@{
    Layout = null;
    var imagePath = Url.Content(Model.UserImagePath);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            width: 100%;
            height: 100vh;
            display: flex;
            position: relative;
            background: #eeeeec;
            align-items: center;
            justify-content: center;
            font-family: 'Open Sans', sans-serif;
            font-size: 100%;
        }

        .customSlider {
            opacity: 0;
            display: none;
        }

            .customSlider + label {
                position: relative;
                top: 35px;
                left: 15px;
                cursor: pointer;
            }

                .customSlider + label:before, .customSlider + label:after {
                    background: #FFFFFF;
                    position: absolute;
                    content: '';
                }

                .customSlider + label:before {
                    top: -90px;
                    left: -60px;
                    width: 80px;
                    height: 40px;
                    background: #ccc;
                    border-radius: 20px;
                    transition: background .75s;
                }

                .customSlider + label:after {
                    height: 34px;
                    width: 34px;
                    top: -87px;
                    left: -55px;
                    border-radius: 50%;
                    transition: all .5s;
                }

            .customSlider:checked + label:after {
                height: 34px;
                width: 34px;
                top: -87px;
                left: -19px;
                border-radius: 50%;
            }

            .customSlider:checked ~ .wrapper {
                color: #fff;
                transition: background .6s ease;
                background: #31394D;
            }

        .wrapper {
            width: 320px;
            height: 540px;
            background: #FDFEFF;
            transition: background .6s ease;
            border-radius: 10px;
            padding: 20px 20px 20px 20px;
            box-shadow: 0 8px 40px rgba(#000000, .2);
        }

            .wrapper .top-icons i {
                color: #080911;
                &:nth-of-type(1);

        {
            float: left;
        }

        &:nth-of-type(2) {
            float: right;
        }

        &:nth-of-type(3) {
            float: right;
            padding-right: .8em;
        }

        }

        .wrapper .profile {
            margin-top: 2.2em;
            position: relative;
        }

            .wrapper .profile:after {
                width: 100%;
                height: 1px;
                content: ' ';
                display: block;
                margin-top: 1.3em;
                background: #E9EFF6;
            }

            .wrapper .profile .check {
                position: absolute;
                right: 5em;
                bottom: 12.7em;
                i

        {
            color: #fff;
            width: 20px;
            height: 20px;
            font-size: 12px;
            line-height: 20px;
            text-align: center;
            border-radius: 100%;
            background: $purple-gradient;
        }

        }

        .wrapper .profile .thumbnail {
            width: 124px;
            height: 124px;
            display: flex;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 1.5em;
            border-radius: 100%;
            box-shadow: $shadow;
        }

        .wrapper .profile .name {
            color: #2D354A;
            font-size: 24px;
            font-weight: 600;
            text-align: center;
        }

        .wrapper .profile .title {
            color: #7C8097;
            font-size: .75em;
            font-weight: 300;
            text-align: center;
            padding-top: .5em;
            padding-bottom: .7em;
            letter-spacing: 1.5px;
            text-transform: uppercase;
        }

        .wrapper .profile .description {
            color: #080911;
            font-size: 14px;
            font-weight: 300;
            text-align: center;
            margin-bottom: 1.3em;
        }

        .wrapper .profile .btn {
            color: green;
            width: 130px;
            height: 42px;
            outline: none;
            border: none;
            display: block;
            cursor: pointer;
            font-weight: 300;
            margin-left: auto;
            margin-right: auto;
            border-radius: 70px;
            box-shadow: 0 13px 26px rgba(#000, .16), 0 3px 6px rgba(#000, .16);
            background: $purple-gradient;
        }

        .wrapper .social-icons {
            display: flex;
            margin-top: 1.2em;
            justify-content: space-between;
        }

            .wrapper .social-icons .icon {
                display: flex;
                align-items: center;
                flex-direction: column;
                a

        {
            color: #fff;
            width: 60px;
            height: 60px;
            font-size: 28px;
            line-height: 60px;
            text-align: center;
            border-radius: 30px;
            box-shadow: $shadow;
        }

        }

        .wrapper .social-icons .icon:nth-of-type(1) a {
            background: $purple-gradient;
        }

        .wrapper .social-icons .icon:nth-of-type(2) a {
            background: $blue1-gradient;
        }

        .wrapper .social-icons .icon:nth-of-type(3) a {
            background: $blue2-gradient;
        }

        .wrapper .social-icons .icon h4 {
            color: #080911;
            font-size: 1em;
            margin-top: 1.3em;
            margin-bottom: .2em;
        }

        .wrapper .social-icons .icon p {
            color: #666B7D;
            font-size: 12px;
        }

        .concept {
            position: absolute;
            bottom: 25px;
            color: #AAB0C4;
            font-size: .9em;
            font-weight: 400;
            color: rgba(172,25,102,1);
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <input id="slider" class="customSlider" type="checkbox">
        <label for="slider"></label>

        <div class="wrapper">
            <div class="top-icons">
                <a href="@Url.Action("Index","Home")">
                    <i class="fas fa-long-arrow-alt-left"></i>
                </a>
            </div>

            <div class="profile">
                <img src="@imagePath" class="thumbnail">
                <div class="check"><i class="fas fa-check"></i></div>
                <h3 class="name">@Model.Name</h3>
                <p class="title">Title</p>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque aliquam aliquid porro!</p>
                <button type="button" class="btn">Follow Me</button>
            </div>
            <a asp-area="Admin" asp-action="Edit" asp-controller="AdminUser" asp-route-id="@Model.Id" class="btn btn-primary">Düzenle</a>

            <div class="social-icons d-flex">
                <div class="container d-flex">
                    <a href=@Model.InstagramAddress style="font-size: 31px; margin-left:80px;"><i style="color:red;margin-top:20px;" class="fab fa-instagram"></i></a>
                    <a href="#" style="font-size: 31px; margin-left:40px;"><i style="color:blue;" class="fab fa-facebook"></i></a>


                </div>
            </div>


        </div>

        <div class="concept">
            concept by
            <a href="https://github.com/furkanucgull" target="_blank">
                <i class="fab fa-dribbble"></i> Furkan Üçgül
            </a>
        </div>
    </div>
</body>

</html>
